.option-box::-webkit-scrollbar{
    width: 6px;
    background-color: rgb(38,38,38);
    margin: 0 2px;
}
.option-box::-webkit-scrollbar-thumb{
    background-color: black;
    border-radius: 10px;
    border: 1px solid rgb(38,38,38);
}